.page-exercicios{
    display: flex;
    flex-direction: column;
    align-items: center;

    .input{
        display: flex;
        flex-direction: column;
    }

    *input{
        width: 10em;
    }

    button{
        width: 10em;
        margin-top: 2em;
    }
}